body {
  background-color: blanchedalmond;
}

.container {
  display:inline-block;
  width: 100%;
  vertical-align: middle;
}

img {
  display:block;
  width: 50%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  align-content: center;
}

.center1 {
  width:50%;
  margin:auto;
  border: 2px solid;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
}

.one {
  margin-top: 50px;
  vertical-align: middle;
}

footer {
  font-family: 'Quicksand', sans-serif;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

/* #me2, #me1 {
  display:block;
  vertical-align:middle;
} */

