body {
  background-color: blanchedalmond;
}

/* Main div containing portfolio cards */
.container {
  display: inline-block;
  width: 100%;
}

/* Main header */
h1 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 30px;
}

#logo {
  padding: 3rem;
}
/* Main row containing the cards */
.one{
  margin-bottom: 30px;
  text-align:center;
}

/* specific ids for each card */
#crd {
  display:inline-block;
  align-items:center;
}

footer {
  font-family: 'Quicksand', sans-serif;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}